
        html.bg-1::after{
            background: url("./bg-imgs/04gso3hnn3v.jpg")
        }

    
        html.bg-2::after{
            background: url("./bg-imgs/686761.jpg")
        }

    
        html.bg-3::after{
            background: url("./bg-imgs/849055.jpg")
        }

    
        html.bg-4::after{
            background: url("./bg-imgs/949976.jpg")
        }

    
        html.bg-5::after{
            background: url("./bg-imgs/armenia_teghut_2-wallpaper-5120x2880.jpg")
        }

    
        html.bg-6::after{
            background: url("./bg-imgs/bgs.txt")
        }

    
        html.bg-7::after{
            background: url("./bg-imgs/edgar-chaparro-565835-unsplash.jpg")
        }

    
        html.bg-8::after{
            background: url("./bg-imgs/jeremy-thomas-90363-unsplash.jpg")
        }

    
        html.bg-9::after{
            background: url("./bg-imgs/lucas-benjamin-1139779-unsplash.jpg")
        }

    
        html.bg-10::after{
            background: url("./bg-imgs/nattu-adnan-328570-unsplash.jpg")
        }

    
        html.bg-11::after{
            background: url("./bg-imgs/vernal_moment-wallpaper-5120x2880.jpg")
        }

    